/* Set the background color of the entire page */
body {
	background-color: #ffeeca; /* Dark background */
	justify-content: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list-item {
	background-color: #655e4e;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 0;
	text-align: center;
	transition: background-color 0.3s ease; /* Suaviza a mudança de cor ao clicar */
}

.todo-list-item:hover {
	background-color: #4d4637; /* Cor um pouco mais escura ao passar o mouse */
}
/* Estilo para o botão "Criar Lista" */
.criar-lista-btn {
	background-color: #649b92; /* Cor desejada */
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin: 0 5px;
}
/* Estilo para tarefas concluídas */
.completed-task {
	background-color: rgba(77, 70, 55, 0.5); /* Cor opaca */
	text-decoration: line-through; /* Adicionar linha para indicar conclusão */
	color: #c0c0c0; /* Mudar a cor do texto para um tom opaco */
}

/* Efeito hover para o botão "Criar Lista" */
.criar-lista-btn:hover {
	background-color: #538b7e; /* Cor um pouco mais escura para o hover */
}

.calendar-container {
	padding: 20px;
	border-radius: 8px;
	/* Se preferir usar uma imagem de fundo: */
	/* background-image: url('path-to-your-image.jpg'); */
	/* background-size: cover; */
}

.todo-section form {
	display: flex;
	margin-bottom: 10px;
}

.todo-section input {
	flex: 1;
	padding: 5px;
}

.todo-section button {
	padding: 5px 10px;
}

.selected-day {
	border: 2px solid #c6b694;
}

.day-with-tasks {
	background-color: #ac8e18;
}

.calendar-day {
	cursor: pointer;
}

/* Estilos para o modal */
/* Estilos para o overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
select {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ffeeca;
	border-radius: 8px; /* Arredondar bordas dos inputs */
	font-size: 16px;
	background-color: #655e4e;
}

/* Estilos para o modal */
.modal {
	background-color: #c6b694;
	padding: 30px;
	max-width: 500px;
	width: 90%;
	border-radius: 12px; /* Aumenta o arredondamento das bordas */
	outline: none;
	position: relative;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao modal */
}

/* Estilos para o título do modal */
.modal h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 24px;
	text-align: center;
}

/* Estilos para o formulário */
.modal form {
	display: flex;
	flex-direction: column;
}

/* Estilos para inputs */
.modal input[type='text'],
.modal select {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 8px; /* Arredondar bordas dos inputs */
	font-size: 16px;
	background-color: #655e4e;
	border: 1px solid #ffeeca;
}

/* Estilos para os botões */
.modal-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.modal-buttons button {
	flex: 1;
	padding: 10px 15px;
	margin: 0 5px;
	font-size: 16px;
	border: none;
	border-radius: 8px; /* Arredondar bordas dos botões */
	cursor: pointer;
}

.modal-buttons button[type='submit'] {
	background-color: #005b4d;
	color: #ffffff;
}

.modal-buttons button[type='button'] {
	background-color: #6c757d;
	color: #ffffff;
}

/* Estilo para o botão "Criar Lista" */
.modal-buttons button:last-child {
	background-color: #649b92;
	color: #ffffff;
}

/* Efeito hover nos botões */
.modal-buttons button:hover {
	opacity: 0.9;
}

.adicionar_tarefa {
	background-color: #005b4d;
	color: white;
	padding: 90px;
	width: 6vw;
	height: 6vh;
	cursor: pointer;
}
.calendar-button {
	background-color: #655e4e; /* Cor da paleta */
	color: white;
	width: 4vw;
	height: 5vh;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin: 0 5px;
}

/* Efeito hover para os botões do calendário */
.calendar-button:hover {
	background-color: #4d4637; /* Cor mais escura para o hover */
}

/* Estilo para o mês em maiúsculas */
.calendar-month {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}
.adiciona_criar {
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
}
.modal-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.modal input,
.modal select {
	width: 100%;
	padding: 8px;
	margin-top: 10px;
}
.pagination-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

.pagination-buttons button {
	background-color: #655e4e;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.pagination-buttons button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.card {
	display: flex;
	background-color: #c6b694; /* Darker gray-blue for the card */
	border-radius: 20px; /* Rounded corners */
	box-shadow: 0 8px 16px rgba(131, 115, 115, 0.4);
	padding: 20px;
	color: white;
	font-family: 'Arial', sans-serif;
	width: 60vw;
}

.calendar-section,
.todo-section {
	flex: 1; /* Distribute space evenly */
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.todo-list {
	list-style: none;
	padding: 0;
	width: 100%; /* Make the to-do list take the full width of its container */
}

.todo-list li {
	margin: 10px 0;
	width: 100%;
	padding: 10px;
	background-color: #655e4e;
	border-radius: 10px;
	text-align: center;
}
.calendar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.calendar-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 5px;
}

.calendar-day-header {
	font-weight: bold;
	text-align: center;
}

.calendar-day {
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	color: white;
}

.todo-section {
	width: 100%;
}

.todo-list {
	list-style: none;
	padding: 0;
}
.excluir-lista-btn {
	background-color: #d9534f; /* Cor vermelha */
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Efeito hover no botão "Excluir Lista" */
.excluir-lista-btn:hover {
	background-color: #c9302c; /* Cor vermelha mais escura no hover */
}
.todo-list li {
	margin: 10px 0;
	padding: 10px;
	background-color: #4d4637;
	border-radius: 10px;
	text-align: center;
}

/* Add this to your App.css */
.highlighted-day {
	background-color: #b3aa99;
	border-radius: 50%; /* Make it circular */
	color: black; /* Change text color for better visibility */
	font-weight: bold; /* Make the text bold */
}

/* Estilo responsivo para dispositivos móveis */
@media (max-width: 768px) {
	.box {
		flex-direction: column;
		width: 100%;
		padding: 10px;
	}

	/* Ajustar o card para dispositivos móveis */
	.card {
		width: 100%;
		padding: 15px;
		box-shadow: none;
		margin: 10px 0;
	}

	/* Ajustar seção do calendário e da lista de tarefas */
	.calendar-section,
	.todo-section {
		padding: 10px;
	}

	/* Ajustar grade do calendário */
	.calendar-grid {
		grid-template-columns: repeat(7, 1fr);
		gap: 3px;
	}

	/* Ajustar cabeçalhos do calendário */
	.calendar-day-header {
		font-size: 12px;
	}

	/* Ajustar os botões do calendário */
	.calendar-button {
		width: 30px;
		height: 30px;
		padding: 5px;
		font-size: 12px;
	}

	/* Ajustar o texto do mês */
	.calendar-month {
		font-size: 16px;
	}

	/* Ajustar botões da lista de tarefas */
	.adicionar_tarefa,
	.criar-lista-btn,
	.excluir-lista-btn {
		padding: 8px;
		font-size: 14px;
		width: 100%;
		margin: 5px 0;
	}

	/* Ajustar itens da lista de tarefas */
	.todo-list-item {
		font-size: 14px;
		padding: 8px;
	}

	/* Ajustar itens de paginação */
	.pagination-buttons {
		flex-direction: column;
		gap: 5px;
	}

	.pagination-buttons button {
		width: 100%;
		padding: 8px;
	}

	/* Ajustar modal para ocupar mais espaço */
	.modal {
		max-width: 90%;
		width: 100%;
	}

	/* Ajustar os botões do modal */
	.modal-buttons {
		flex-direction: column;
		gap: 5px;
	}

	.modal-buttons button {
		width: 100%;
		padding: 10px;
		font-size: 14px;
	}
}